[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	branch = 3.4

[submodule "tor"]
	path = tor
	url = https://gitlab.torproject.org/tpo/core/tor.git
	branch = main
[submodule "cryptonote"]
	path = cryptonote
	url = https://github.com/xun-project/ultranotei-core.git
	branch = master
