[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	branch = 3.4
[submodule "zlib"]
	path = zlib
	url = https://bitbucket.org/xunteam/zlib/src/master/
[submodule "tor"]
	path = tor
	url = https://bitbucket.org/xunteam/tor/src/master/
[submodule "cryptonote"]
	path = cryptonote
	url = https://bitbucket.org/xunteam/ultranotei-core/src/master/
	branch = master
