[Desktop Entry]
Encoding=UTF-8
Name=UltraNote Infinity
Comment=UltraNote Infinity
Exec=UltraNoteInfinity
Terminal=false
Type=Application
Icon=ultranote
MimeType=x-scheme-handler/ultranoteinfinity;
Categories=Office;Finance;
Name[en_US]=ultranoteinfinity.desktop
